<!DOCTYPE html>
<html ng-app="app" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Angular Repeat 1</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
        <script src="main-asCtrl.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body ng-controller="mainCtrl as main">
        <h1>Hello World1!</h1>

        <ul>
            <li ng-repeat="dwarf in main.dwarves">{{ $index }} --- {{ dwarf }}</li>
        </ul>
       
        <ul>
            <li ng-repeat="(dwarfIndex, dwarf) in main.dwarves">{{ dwarfIndex }} --- {{ dwarf }}</li>
        </ul>

        <ul>
            <li ng-repeat="dwarf in main.dwarves">
                <span ng-show="$first">First, there was {{ dwarf }}.</span>
                <span ng-show="$middle">Then, there was {{ dwarf }}.</span>
                <span ng-show="$last">Lastly, there was {{ dwarf }}.</span>
            </li>
        </ul>

        <ul>
            <li ng-repeat="(dwarfName, dwarfDescription) in main.dwarvesObj">{{ dwarfName }} --- {{ dwarfDescription }}</li>
        </ul>

        <ul>
            <li ng-repeat="dwarf in main.cloneDwarves track by $index">{{ $index }} --- {{ dwarf }}</li>
        </ul>

<!-- arrObjDwarves.orderBy('name') -->
<!-- $scope.property = "name" -->
        <ul>
            <li ng-repeat="dwarf in main.arrObjDwarves | orderBy: 'name'">
                <h1 ng-click="main.logDwarf(dwarf)">{{ dwarf.name }}</h1>
                <ul>
                    <li ng-repeat="hobby in dwarf.hobbies">{{ hobby }}</li>
                </ul>

            </li>
        </ul>

    </body>
</html>
